#heading {
    color: cadetblue;
}

#h1_1 {
    color: blue
}

#h5_1 {
    color: chocolate;
}

#h5_2 {
    color: chartreuse
}

.logo {
    width: 150px;
    height: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    border: solid 5px royalblue;
    /* border-radius: 1vw; */
}

.nav-items {
    padding: 0 100px;
}

.restaurant-card {
    /* margin: 0 100px; */
    align-items: center;
    color: cadetblue;
    border: 1px solid grey;
}

.nav-container>ul {
    display: flex;
    flex-wrap: wrap;
}

.nav-container li {
    /* padding: 10px; */
    margin: 10px;
    list-style-type: none;
    font-size: larger;
    color: cadetblue;
}

.nav-container>ul>li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.restaurant-card {
    width: 250px;
    height: 400px;
    padding: 1px 5px;
    margin: 10px 10px;
    background-color: #f0f0f0;
}

.restaurant-card:hover {
    border: solid 1px rebeccapurple;
    cursor: pointer;
}

.search {
    padding: 20px;
    background-color: #f0f0f0;
    font-weight: 300;
    text-decoration: underline
}

.res-logo {
    height: 200px;
    width: 150px;
    align-content: end;
    display: flex;
    flex-wrap: wrap;
    margin-left: 75px;
    border-radius: 80pc;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;

}

.filter {
    margin: 20px 20px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.shimmer-card {
    background-color: #f0f0f0;
    height: 300px;
    width: 200px;
    margin: 5px;
    padding: 10px;
}

.filter-btn {
    display: flex
}

.search-txt {
    margin: 5px;
    width: 300px;
}